body{
    text-align: center;
    color:white;
    text-shadow: 2px 2px 0.8 black; 


}
    

body {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQu4wMkKWXfXPw_4Mb_p0XnBX21aLhogAvW7g&usqp=CAU) ;
    background-position: center;
    background-size: cover;
}

l{
    font-size : 30px;

}

label{
    font-size : 20px;
}

legend{
    font-size : 50px;
}
input{
    margin: 30px;
   
}
label{
    margin: 30px;
}
input{
    width: 100px;
}
.change_color{
    color: brown;
}

input{
    height: 40px;
}

input{
    button: transparrent;
}

    
